<div class="row">
  <div class="col-8 m-auto">
    <form action="/" method="POST">
      <div class="form-group">
        <label for="name">網址*：</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="https://www.facebook.com/" required>
      </div>

      <div class="form-group">
        <button class="btn btn-outline-info btn-block" type="submit">Shortener!</button>
      </div>
    </form>
  </div>
</div>